@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family:'Roboto', sans-serif;
}

#title{
    color:#f3bbba;
    letter-spacing:7px;
    font-size:80px;
    text-align:center;
    margin-top:23%;
}

.page{
    color:#f3bbba;
    font-size:80px;
    letter-spacing:-15px;
    writing-mode:vertical-rl;
    text-orientation:upright;
    position:absolute;
}

.page:hover{
    color:#fda6a6;
}

a{
    outline:0;
    border:none;
    text-decoration:none;
}

#about{
    margin-top:-7.16%;
    margin-left:43%;  
    opacity:0.3;
}

#projekts{
    margin-top:-24.1%;
    margin-left:50.1%;
    opacity:0.3;
}

#resume{
    margin-top:-20.7%;
    margin-left:54.999998%;
    opacity:0.3;
}

#about:hover{
    opacity:1;
    transition: opacity .2s ease-in-out .0s;
}

#projekts:hover{
    opacity:1;
    transition: opacity .2s ease-in-out .0s;
}

#resume:hover{
    opacity:1;
    transition: opacity .2s ease-in-out .0s;
}
