@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width:100%;
    overflow:hidden;
    padding:10px;
    margin-bottom:10px;
}

.nav-link{
    color:#ff9c9a;
    letter-spacing:2px;
    font-weight:bold;
    font-size:20px;
}

.nav-link:hover{
    color:#ff8481;
}

a, a:focus, a:active, a:hover{
    border:0;
    outline:none;
    text-decoration:none;
}

.navbar-brand,title{
    color:#ff9c9a;
    letter-spacing:3px;
}

.navbar-brand:hover,title:hover{
    color:#ff8481;
}

.navbar{
    border-bottom:1.5px solid #d1d1d1e7;
}

.hey{
    font-size:350%;
    font-weight:bold;
    font-style:italic;
    color:#ffffff;
    text-align:center;
    padding-top:14%;
}

.cover{
    width:100%;
    height:100vh;
}

.cover-center{
    margin:0;
    position:absolute;
    top:13%;
    left:20%;
}

h2, h3{
    font-weight:bold;
    color:#ff9c9a;
}

h3.title{
    padding-top:35px;
    padding-bottom:30px;
    letter-spacing:3px;
    width:100%;
    float:left;
}

p{
    color:#5f5f5f;
    font-weight:550;
    font-size:17px;
    margin-bottom:20px;
    line-height:2;
}

p.cap{
    margin-bottom:15px;
}


h5{
    font-weight:bold;
}

.uts{
    float:left;
    width:60%;
    padding-right:20px;
}

.uw{
    float:left;
    width:40%;
    padding-left:15px;
}

.column50{
    float:left;
    width:50%;
}

.pic{
    border-radius:30px;
}

.img-center{
    margin-top:3%;
    margin-right:20%;
    float:right;
}

.column25{
    float:left;
    width:25%;
}

i{
    color:#5f5f5f;
    float:left;
    padding-top:0.5%;
}

.fa{
    margin-left:7px;
}

.rate{
    margin-top:5px;
    margin-bottom:18px;
}

a.project{
    color:black;
    font-weight:bold;
    font-size:200%;
    text-decoration:none;
}

a.project:hover{
    color:#575757;
    font-style:italic;
}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{
    color:#5f5f5f;text-decoration:none;outline:0;opacity:.9
}

p.contacts{
    padding-left:37px;
    margin-bottom:-15px;
    text-align:left;
    width:95%;
}

.back{
    color:white;
    letter-spacing:1px;
}

.back:hover{
    color:white;
    font-style:italic;
}

a.site{
    color:#ff9c9a;
    font-weight:500;
}

a.site:hover{
    color:#ff8481;
}
